:root {
    --font-title: 'Bellefair', serif;
    --font-second-title: 'Barlow Condensed', sans-serif;
    --font-body: 'Barlow', sans-serif;
    --color-white: #FFFFFF;
    --color-white-variant: #979797;
    --color-light-gray: #D0D6F9;
    --color-gray: #616476;
    --color-blue-dark: #0B0D17;
    --color-black: #000000;
}